/*body*/
body{
    background-color:#191919;
}


/*navbar*/
.navbar{
    background-color:#E50914;
}

/*movie details*/
.movie-detail{
    color:#ffffff;
    padding:10px;
}
/*movie card*/
.card {
  background-color:#000000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.btn-primary {
  background-color: #e50914;
  border-color: #e50914;
}


/*Footer= social-media-logos*/
.social-media-logos {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.social-media-logos img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
