{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
GradNow School Store New page for Form
{% endblock %}

{% block title %}
New Page
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <h3>Click below button to Fill the form</h3>
</div>
<div class="container d-flex justify-content-center align-items-center">
    <div class="login-button">
        <a class="nav-link" href="/form">
        <button type="button" class="btn btn-warning">Form</button>
        </a>
    </div>
</div>

{% endblock %}