# Core
Django==4.2.6
Pillow==10.0.0

# Frontend
django-bootstrap5==23.3
django-crispy-forms==2.0

# Development
django-debug-toolbar==4.2.0

# Database
psycopg2-binary==2.9.7
mysqlclient==2.2.0

# Static/Media Files
whitenoise==6.5.0
django-storages==1.14

# Image Processing
django-imagekit==4.1.0

# Deployment
gunicorn==21.2.0
python-dotenv==1.0.0

# Security
django-cors-headers==4.2.0

# Cache
django-redis==5.4.0
