{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {% if category %}
            {{category.description|truncatewords:155}
    {% else %}
            Welcome to StoreFont Tech, Where you can buy Latest Smartphones & Cool Gadgets...
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{category.name}}-StoreFont Tech
    {% else %}
        See our Updated products - StoreFont Tech
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
        <div>
            <div class="row my_row_class">
                <div class="mx-auto">
                <p>
                    <a href="{% url 'shop:allProdCat' %}"><h4>Our Latest products</h4></a>
                </p>
                </div>
            </div>
        </div>
{% endif %}

<div class="container">
    <div class="mx-auto">
        {% if category %}
        <div>
            <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
        </div>
    </div>
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="storefont banner image">
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Latest Updated Products</h1>
    <p class="text-justify">Our StoreFont Tech is the one-stop shop for all your smartphone and gadget needs. We offer a wide selection of products from the top brands, at competitive prices. Our friendly and knowledgeable staff is here to help you find the right product for your needs and budget.</p>
</div>
    {% endif %}

        <div class="container">
            <div class="row mx-auto">
                {% for product in products.object_list %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                    <div class="card text-center" style="min-width:18rem;">
                        <a href="{{product.get_url}}"><img src="{{product.image.url}}" style="height:120px; width:100px;" alt="{{product.name}}"></a>
                        <div class="card-body">
                            <h4>{{product.name}}</h4>
                            <p>₹{{product.price}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

<div class="mx-auto">
    {% if products.paginator.num_pages > 1 %}
    <hr>
    <div class="text-center">
        {% for pg in products.paginator.page_range %}
    <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
        {% endfor %}
    </div>
    {% endif %}
    </div>
        <br>

{% endblock %}