.body{
    background-color:ghostwhite;
}
/*navbar*/
.banner{
    background-color:gold;
    width:100%;
    height:80px;
    margin-bottom:30px;
}
.banner-text{
    top:3%;
    left:40%;
    position:absolute;
    transform:transform;
}

/*card*/
